.garage {
  padding-left: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 10px;
}

.create-car,
.update-car,
.race-controls {
  display: flex;
  justify-content: space-between;
}

.race-controls {
  margin-top: 10px;
}

.track-container {
  .track {
    margin-top: 20px;
    border-bottom: 5px dashed white;

    .controls-container {
      display: flex;
      align-items: center;
      gap: 15px;
      .car-manipulation,
      .engine-control {
        display: flex;
        flex-direction: column;
        width: 80px;
        gap: 5px;
      }
    }

    .track-layout {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .finish {
        margin-right: 50px;
      }
    }
  }
}
