@mixin text {
  color: whitesmoke;
  display: block;
}

.page-name {
  font-size: 30px;
  font-weight: 700;
  @include text();
  margin-top: 50px;
}

.page-counter {
  font-size: 25px;
  font-weight: 500;
  @include text();
  margin-top: 20px;
}

.car-name {
  font-size: 20px;
  font-weight: 700;
  color: sandybrown;
}
